.nl-global-presence{
    background: #0D1120;
}

.nl-location-box {
    position: relative;
    padding: 36px;
    border-radius: 16px;
    height: 100%;
    border: 1px solid rgba(55, 25, 202, 0.10);
    background-color: #111828;
    background: radial-gradient(
        100.67% 77.99% at 50% 50%, 
        rgba(55, 25, 202, 0.06) 0%, 
        rgba(55, 25, 202, 0.00) 60%
    );

    overflow: hidden; /* important */
}


.nl-location-box::before {
    content: "";
    position: absolute;
    inset: 0; 
    border-radius: 16px;
    opacity: 0.5;
    background: linear-gradient(
        0deg,
        rgba(55, 25, 202, 0.40) 0%,
        rgba(55, 25, 202, 0.15) 33.33%,
        rgba(55, 25, 202, 0.05) 66.67%,
        rgba(55, 25, 202, 0.30) 100%
    );
    pointer-events: none;
    z-index: 0;
}

/* CONTENT ABOVE */
.nl-location-box > * {
    position: relative;
    z-index: 1;
}
.nl-loc-img{
    position: absolute;
    right: 0;
    top: 20px;
    max-height: 120px;
    object-fit: contain;
}
.nl-loc-box{
    border-radius: 20px;
border: 1px solid rgba(55, 25, 202, 0.20);
background: rgba(55, 25, 202, 0.10);
display: flex;
padding: 6px 14px;
align-items: center;
gap: 8px;
max-width: fit-content;

}

.nl-loc-text{
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16.5px; /* 117.857% */
letter-spacing: 0.88px;
text-transform: uppercase;
}

.nl-lc-dot-outer{
    width: 12px;
height: 12px;
border-radius: 6px;
background: #3719ca6b;
display: flex;
align-items: center;
justify-content: center;
}
.nl-loc-dot{
    width: 6px;
height: 6px;
flex-shrink: 0;
border-radius: 3px;
background: var(--primary);
box-shadow: 0 0 8px 0 var(--primary);
}


.nl-loc-country{
font-size: 22px;
font-style: normal;
font-weight: 800;
line-height: 32.4px; /* 147.273% */
letter-spacing: 3.24px;
background: linear-gradient(96deg, #3719CA 0%, #1DD1E8 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.nl-cont-name{
    color: var(--text-dull);
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 32.4px; /* 147.273% */
}

.loc-line{
    width: 48px;
height: 2px;
flex-shrink: 0;
border-radius: 1px;
background: linear-gradient(90deg, #3719CA 0%, #1DD1E8 100%);
}

.loc-address{
    color: var(--text-white);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22.44px; /* 160.286% */
max-width: 226px;
}

.loc-phone{
    color: #1DD1E8;
    text-decoration: none;
    transition: opacity 0.2s ease;
}
.loc-phone:hover{
    text-decoration: underline;
    opacity: 0.85;
}

.loc-grad-blur{
    width: 200px;
height: 200px;
border-radius: 100px;
background: radial-gradient(70.71% 70.71% at 50% 50%, rgba(29, 209, 232, 0.13) 0%, rgba(29, 209, 232, 0.00) 70%);
filter: blur(15px);
position: absolute;
left: -59px;
bottom: -59px;
}
.loc-grad-blur-top{
left: 264px !important;
top: -59px !important;
}